@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Contrail+One&family=Dongle&family=Nova+Square&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: rgba(21, 69, 80, 0.94);
}

.titulo {
  color:rgba(49, 198, 189, 1);
  font-family: 'Nova Square', sans-serif;
  font-weight: 400;
  font-size: 250px
  padding: 50px;
  margin-top: 20px;
  margin-left: 470px;

}

.conteudo-imagens {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin-top: 40px;
  gap: 250px;
}

.conteudo-imagens-cadeado {
  height: 100px;

}

.conteudo-imagens-cadeado-aberto {
  height: 100px;
}

.form-box {

  padding: 20px;
  margin-top: 30px;
  margin-left: 350px;
  width: 22vw;
  height: 30vw;

  background-color: rgba(17, 88, 5, 1);
  mix-blend-mode: lighten;
  border: 20px solid #10100F;
  border-radius: 50px;
}

.msg-box {
  padding: 20px;
  margin-top:-410px;
  margin-left: 700px;
  width: 22vw;
  height: 30vw;

  background-color: rgba(121, 11, 104, 1);
  mix-blend-mode: lighten;
  border: 20px solid #10100F;
  border-radius: 50px;
}

.input-texto{
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: blue;
}

.crypto-message{
  color: lightgreen;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.text-input {
font-family: 'Arsenal', sans-serif;;
font-weight: 400;
font-size: 20px;
color: #110E0E;
margin-top: 27px;
}

.text-response{
  font-family: 'Arsenal', sans-serif;;
  font-weight: 400;
  font-size: 20px;
  color: #110E0E;
  margin-top: 43px;
}

.btn {
margin-top: 30px;
width: 120px;
height: 30px;

color: #FFFFFF;

background: #27168F;
border-radius: 50px;
}

.rodape{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  row-gap: 20px;
}

.rodape-texto{
  font-family: 'Contrail One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:#ECEE9F;
}

.rodape-seta{
  color:rgba(238, 232, 176, 1);
  width: 800px;
  height: 7px;
  border: 2px solid #EEE8B07
}

.rodape-logo{
  height: 100px;
  margin-left:1200px;
}
