@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Contrail+One&family=Dongle&family=Nova+Square&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  animation: changeBackgroundColor 3s infinite; /* propriedade de animação */
}

@keyframes changeBackgroundColor {

  0% {
    background-color: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  50% {
    background-color: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
  100% {
    background-color: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
}

.titulo {
  color:green;
  font-family: 'Nova Square', sans-serif;
  font-weight: 400;
  font-size: 250px
  padding: 50px;
  margin-top: 20px;
  margin-left: 470px;

}

.conteudo-imagens {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin-top: 40px;
  gap: 250px;
}

.conteudo-imagens-cadeado {
  height: 100px;

}

.conteudo-imagens-cadeado-aberto {
  height: 100px;
}

.form-box {
  padding: 20px;
  margin-top: 30px;
  margin-left: 350px;
  width: 22vw;
  height: 30vw;

  background-color: rgba(17, 88, 5, 1);
  border: 20px solid #10100F;
  border-radius: 50px;
}

.msg-box {
  padding: 20px;
  margin-top:-410px;
  margin-left: 700px;
  width: 22vw;
  height: 30vw;

  background-color: rgba(121, 11, 104, 1);
  border: 20px solid #10100F;
  border-radius: 50px;
}

.input-texto{
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: lightcoral;
}

.text-input {
text-align: center;
font-family: 'Arsenal', sans-serif;;
font-weight: 400;
font-size: 20px;
color: #110E0E;
margin-top: 27px;
}

.crypto-message{
  color: lightgreen;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.text-response{
  text-align: center;
  font-family: 'Arsenal', sans-serif;;
  font-weight: 400;
  font-size: 20px;
  color: #110E0E;
  margin-top: 43px;
}

.btn {

margin-top: 40px;
margin-bottom: -20px;
margin-left: 43px;
width: 120px;
height: 30px;

color: #FFFF;
background: #1d2834;
border-radius: 50px;

transition: all 0.4s
ease-in-out 0s;
box-shadow: inset 0 0 20px #000;
}

.btn:hover {
  background: transparent;
  color: #00ffcb;
  transform: scale(1.5);
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  cursor: grab;
  border: 2px solid ##00ffcb
}

.rodape{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  gap: 20px;
}

.rodape-texto{
  font-family: 'Contrail One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:blue;
}

.rodape-seta{
  width: 800px;
  height: 10px;
}

.rodape-logo{
  height: 100px;
  margin-left:1200px;
}
